@import "tailwindcss";

:root {
  --start-color: #7b2ff7;
  --end-color: #f107a3;
  --h2: 1rem;
  --hero-bg: url('/passa-a-bola/public/images/Lucid_Origin_a_woman_with_a_determined_facial_expression_and_a_2.jpg');
}

body{
  scroll-behavior: smooth;
}